apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sharemedia.fullname" . }}
  labels:
    {{- include "sharemedia.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "sharemedia.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "sharemedia.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sharemedia.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          env:
           - name: DB_HOST
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: DB_HOST
           - name: DB_USER
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: DB_USER
           - name: DB_PASSWORD
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: DB_PASSWORD
           - name: DATABASE_URL
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: DATABASE_URL
           - name: AWS_ACCESS_KEY_ID
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: AWS_ACCESS_KEY_ID
           - name: AWS_SECRET_ACCESS_KEY
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: AWS_SECRET_ACCESS_KEY
           - name: AWS_SESSION_TOKEN
             valueFrom:
               secretKeyRef:
                 name: app-secret
                 key: AWS_SESSION_TOKEN


           - name: AWS_S3_BUCKET_NAME
             valueFrom:
               configMapKeyRef:
                 name: app-configmap
                 key: AWS_S3_BUCKET_NAME
           - name: DB_NAME
             valueFrom:
               configMapKeyRef:
                 name: app-configmap
                 key: DB_NAME
           - name: APP_ENV
             valueFrom:
               configMapKeyRef:
                 name: app-configmap
                 key: APP_ENV
